.contacts {
    padding-top: 70px;
    background-color: #f1f1f1;
    border-bottom: 1px solid $acsent;

    svg {
        min-width: 20px;
    }

    .section-heading__wrap {
        margin-bottom: 100px;

        @include xl() {
            margin-bottom: 90px;
        }
      
        @include desktop() {
            margin-bottom: 90px;
        }

        @include laptop() {
            margin-bottom: 80px;
        }

        @include phone() {
            margin-bottom: 50px;
        }
    }

    .contacts__list {
        width: 100%;
        max-width: 1450px;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 70px;

        @include xl() {
            max-width: 1250px;
            margin-top: 44px;
        }

        @include desktop() {
            margin-bottom: 60px;
            margin-top: 25px;
        }

        @include laptop() {
            margin-bottom: 55px;
        }

        @include phone() {
            margin-bottom: 50px;
            flex-wrap: wrap;
        }
    }

    &__form {
        max-width: 930px;
        margin: 0 auto;
    }

    .form {
        min-width: 910px;
        padding-top: 10px;

        @include laptop() {
            min-width: unset;
        }

        .form__heading {
            font-size: 7rem;
            letter-spacing: -2.5px;

            @include xl() {
                font-size: 5.5rem;
            }

            @include desktop() {
                font-size: 5rem;
            }

            @include laptop() {
                font-size: 4rem;
            }

            @include phone() {
                font-size: 3rem;
                letter-spacing: -1.5px;
            }

            @include xsm() {
                font-size: 2.4rem;
            }
        }

        .form-line {
            margin-bottom: 35px;

            @include laptop() {
                margin-bottom: 25px;
                flex-direction: column;
            }

            @include phone() {
                margin-bottom: 20px;
            }

            @include xsm() {
                margin-bottom: 15px;
            }
        }

        .form__subtitle {
            font-size: 3.5rem;
            margin-bottom: 30px;

            @include xl() {
                font-size: 2.7rem;
            }

            @include desktop() {
                font-size: 2.3rem;
            }

            @include laptop() {
                font-size: 1.8rem;
            }

            @include phone() {
                font-size: 1.6rem;
            }

            @include xsm() {
                font-size: 1.4rem;
            }
        }

        .input-wrap {
            flex: 1;
            margin-right: 70px;

            @include laptop() {
                max-width: 500px;
                width: 100%;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }

        input[type="tel"],
        input[type="text"] {
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
        }

        input[type="submit"] {
            padding: 25px 100px;
        }
    }
}

.contacts-item {
    width: 48%;
    margin-bottom: 40px;
    max-width: 700px;

    @include phone() {
        width: 100%;
    }

    #mapOskol,
    #mapBelgorod {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__img {
        position: relative;
        width: 100%;
        padding-top: 56.2%;
    }

    &__content {
        padding: 30px 10px;
    }

    .info-line__addres {
        font-size: 2.9rem;

        @include xl() {
            font-size: 2.7rem;
        }

        @include desktop() {
            font-size: 2.5rem;
        }

        @include laptop() {
            font-size: 2.2rem;
        }

        @include phone() {
            font-size: 2.1rem;
        }

        @include xsm() {
            font-size: 2rem;
        }
    }

    .info-line {
        margin-bottom: 20px;

        @include laptop() {
            margin-bottom: 15px;
        }
    }

    .info-line .phone,
    .mail,
    .link-vk {
        font-size: 3.3rem;

        @include xl() {
            font-size: 3rem;
        }

        @include desktop() {
            font-size: 2.7rem;
        }

        @include laptop() {
            font-size: 2.4rem;
        }

        @include phone() {
            font-size: 2.4rem;
        }
        
        @include xsm() {
            font-size: 2.2rem;
        }
    }
}
