.decor-line {
    background-color: $acsent;
    width: 100%;
    height: 2px;
}

.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #313131;

    &:after,
    &:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: $acsent;

    }

    &:after {
        top: 0;
        right: 0;
    }

    &:before {
        bottom: 0;
        left: 0;
    }

    &__wrap {
        position: absolute;
    }
}

.form {
    &__content {
        position: relative;
    }

    .square__wrap {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 295px;
        height: 295px;

        @include desktop {
            width: 260px;
            height: 260px;
        }

        @include phone {
            width: 250px;
            height: 250px;
        }
    }

    .square {
        opacity: 0.6;
        transform: rotate(45deg);
        box-shadow: 0 0 120px 20px rgba($acsent, 0.8);
        animation: blink 3s running infinite;
    }
}

.hero__heading {
    .square__wrap {
        z-index: -1;
        width: 70px;
        height: 70px;
        transform: translate(-55%, -25%);

        @include desktop {
            width: 60px;
            height: 60px;
            transform: translate(-55%, -30%);
        }

        @include phone {
            width: 45px;
            height: 45px;
            transform: translate(-55%, -30%);
        }

        @include xsm {
            width: 35px;
            height: 35px;
            transform: translate(-35%, -32%);
        }
    }

    .square {
        box-shadow: 0 0 40px 5px rgba($acsent, 0.7);

        &:after {
            box-shadow: 2px -2px 15px 2px rgba(#b7011d, 0.2);
        }
        &:before {
            box-shadow: -4px 4px 15px 2px rgba(#b7011d, 0.2);
        }
    }
}

.contacts {
    &__content {
        position: relative;
    }

    .square__wrap {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 395px;
        height: 395px;

        @include xl {
            width: 320px;
            height: 320px;
        }

        @include desktop {
            width: 280px;
            height: 280px;
        }
    }

    .square {
        opacity: 0.6;
        transform: rotate(45deg);
        box-shadow: 0 0 120px 20px rgba(#959595, 1);
        
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes blink {
    0% {
        box-shadow: 0 0 100px 30px rgba($acsent, 0.8);
    }
    50% {
        box-shadow: 0 0 20px 5px rgba(darken($acsent, 20%), 1);
    }
    100% {
        box-shadow: 0 0 100px 30px rgba($acsent, 0.8);
    }
}