.hero {
    width: 100%;
    height: 100vh;
    min-height: 830px;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: transparent url('../img/icons/pattern.png') repeat;
    overflow: hidden;

    @include xl {
        min-height: 700px;
    }

    @include desktop {
        min-height: 600px;
        padding-bottom: 50px;
    }

    @include laptop {
        min-height: 100vh;
        height: initial;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include phone {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .overlay {
        background: rgba(#000, 0.75);
    } 

    .container {
        height: 100%;
        justify-content: space-around;
        flex-direction: column;
        z-index: 2;

    }

    &__heading-acsent {
        margin-bottom: 15px;
        font-family: $main-font-b;
        font-size: 9.2rem;

        @include xl {
            font-size: 6rem;
        }

        @include desktop {
            font-size: 5rem;
        }

        @include phone {
            text-align: center;
            font-size: 3.6rem;
        }

        @include xsm {
            font-size: 2.8rem;
        }
    }

    &__heading-descr {
        margin-top: 5px;
        font-size: 6.2rem;

        span {
            font-size: 6.7rem;
        }

        @include xl {
            font-size: 4.1rem;

            span {
                font-size: 4.4rem;
            }
        }

        @include desktop {
            font-size: 3.4rem;

            span {
                font-size: 3.7rem;
            }
        }

        @include phone {
            font-size: 2.45rem;
            text-align: center;

            span {
                font-size: 2.7rem;
            }
        }

        @include xsm {
            font-size: 2rem;
            text-align: center;

            span {
                font-size: 2.2rem;
            }
        }
    }

    &__bottom,
    &__top {
        display: flex;
        width: 100%;
    }

    &__top {
        @include laptop {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__left {
        width: 52%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include desktop {
            width: 48%;
            margin-right: 50px;
        }

        @include laptop {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 60px;
            margin-top: 50px;
        }

        @include phone {
            margin-bottom: 50px;
        }
    }
    
    &__right {
        width: 48%;
        padding-left: 50px;

        @include xl {
            padding-left: 30px;
        }

        @include desktop {
            padding-left: 0px;
        }

        @include laptop {
            width: 100%;
            padding-left: 0px;
        }
    }
    
}

.form.hero__form {
    background-color: $acsent;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4) 20%, $acsent 55%);
}

.advantages {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    
    @include laptop {
        max-width: 600px;
        margin: 0 auto;
        justify-content: center;
        margin-top: 30px;

        &__item {
            @include col-6();
            margin-bottom: 20px;
            text-align: center;
        }
    }

    &__item {
        transform: translateX(-200px);
        opacity: 0;
    }

    @for $i from 1 through 4 {
        & &__item:nth-child(#{$i}) {
            animation: moveInRight 2s running #{1 + $i / 2}s forwards;
        }
    } 

    &__content {
        text-align: center;

        & > * {
            display: block;
            text-shadow: 2px 2px 20px rgb(0,0,0);
        }

        @include laptop {
            display: inline-block;

        }
    }

    &__num {
        font-family: $main-font-b;
        font-size: 12.5rem;

        @include xl {
            font-size: 9rem;
        }

        @include desktop {
            font-size: 7rem;
        }

        @include laptop {
            font-size: 6rem;
        }

        @include phone {
            font-size: 4rem;
        }
    }

    &__unit {
        font-family: $main-font-b;
        font-size: 3.5rem;

        @include xl {
            font-size: 2.8rem;
        }
        
        @include laptop {
            font-size: 2rem;
        }

        @include phone {
            font-size: 1.7rem;
        }
    }

    .decor-line {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 2.5rem;
        line-height: 3rem;

        @include xl {
            font-size: 2.2rem;
            line-height: 2.4rem;
        }

        @include laptop {
            font-size: 1.6rem;
            line-height: 1.8rem;
        }

        @include phone {
            font-size: 1.4rem;
        }

        @include xsm {
            font-size: 1.4rem;
        }
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}