// nav
$nav-fs: 1.6rem;

// nav-list__item
$nav-item-mr: 10px;

// nav-list__link
$nav-link-padding: 10px 20px;
$nav-link-fs: 1.5rem;
$nav-link-color: #fff;
$nav-link-color-h: $acsent;
$nav-link-transition: #000;


.nav {
    position: relative;
    font-size: $nav-fs;

    &--right {
        margin-left: auto;
    }

    &__list {
        display: flex;
        flex-direction: row;

        &.nav__list--v {
            flex-direction: column;
        }
    }

    &__list-item {
        margin-right: $nav-item-mr;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            a {
                color: $nav-link-color-h;
            }
        }
    }

    &__list-link {
        display: block;
        padding: $nav-link-padding;
        color: $nav-link-color;
        transition: 0.3s color;
    }
}

.nav-main {
    margin-right: 20px;
}
