.we-can {
    padding-bottom: 70px;
    background: url('../img/icons/pattern.png') repeat;

    .section-heading {
        margin-bottom: 40px;
    }

    @include xl {
        padding-bottom: 65px;
    }

    @include desktop {
        padding-bottom: 60px;
    }

    @include laptop {
        padding-bottom: 55px;   
    }

    @include phone {
        padding-bottom: 40px;     
    }
}

.tabs {
    display: flex;
    position: relative;
    width: 100%;

    @include laptop() {
        flex-direction: column;
    }

    p {
        font-size: 2.5rem;
        line-height: 3.7rem;

        @include xl {
            font-size: 2rem;
            line-height: 3rem;
        }

        @include desktop {
            font-size: 1.7rem;
            line-height: 2.8rem;
        }

        @include laptop {
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

        @include phone {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }
    }

    &__title {
        font-family: $main-font-b;
        font-size: 6rem;
        margin-bottom: 10px;
        text-align: center;

        @include xl {
            font-size: 5rem;
        }

        @include desktop {
            font-size: 4.5rem;
        }

        @include laptop {
            font-size: 3.5rem;
        }

        @include phone {
            font-size: 2.8rem;
        }
    }

    .decor-line {
        margin-bottom: 20px;

        @include laptop {
            margin-bottom: 15px;
        }

        @include phone {
            margin-bottom: 10px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 80px;

        @include xl {
            padding: 50px;
            padding-right: 10px;
        }

        @include desktop {
            padding: 30px;
            padding-right: 0px;
        }

        @include laptop {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 20px;
        }

        @include phone {
            padding: 10px;
        }
    }

    & label {
        flex: 0;
        font-size: 3.3rem;
        color: #000;
        cursor: pointer;
        line-height: 80px;
        border: 3px solid transparent;
        padding: 10px 20px;
        transition: 0.3s border-color;
        white-space: nowrap;

        &:hover {
            font-family: $main-font-b;
        }

        @include xl {
            font-size: 2.4rem;
            line-height: 70px;
            padding: 8px 15px;
        }

        @include desktop {
            font-size: 2rem;
            line-height: 60px;
            border-width: 3px;
        }

        @include laptop {
            font-size: 1.8rem;
            line-height: 50px;
            padding: 7px 12px;
            border-width: 2px;
            white-space: wrap;

        }

        @include phone() {
            font-size: 1.7rem;
        }
    }

    & input {
        position: absolute;
        left: -9999px;
    }
}

#tab_1:checked  ~ .tabs__nav #tab_l1,
#tab_2:checked  ~ .tabs__nav #tab_l2,
#tab_3:checked  ~ .tabs__nav #tab_l3,
#tab_4:checked  ~ .tabs__nav #tab_l4,
#tab_5:checked  ~ .tabs__nav #tab_l5,
#tab_6:checked  ~ .tabs__nav #tab_l6,
#tab_7:checked  ~ .tabs__nav #tab_l7,
#tab_8:checked  ~ .tabs__nav #tab_l8 {
    border-color: $acsent;
	top: 0;
    z-index: 3;
    box-shadow: none;
    font-family: $main-font-b;
}

.tabs_cont {
    width: 50%;
	position: relative;
    z-index: 2;
    border: 14px solid $acsent;
    text-align: justify;

    @include xl() {
        width: 100%;
        border-width: 10px;
    }

    @include desktop() {
        border-width: 8px;
    }

    @include laptop() {
        border-width: 7px;
    }

    @include phone() {
        border-width: 5px;
    }
}

.tabs_cont > div {
    padding: 20px 30px;
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4,
#tab_5:checked ~ .tabs_cont #tab_c5,
#tab_6:checked ~ .tabs_cont #tab_c6,
#tab_7:checked ~ .tabs_cont #tab_c7,
#tab_8:checked ~ .tabs_cont #tab_c8 {
	position: static;
	left: 0;
    opacity: 1;
    
    @include phone() {
        display: flex;
        flex-direction: column;
    }
}

