.works {
    padding-top: 140px;
    padding-bottom: 0;
    background: url('../img/icons/pattern.png') repeat;

    @include xl {
        padding-top: 100px;     
    }

    @include desktop {
        padding-top: 80px;     
    }

    @include laptop {
        padding-top: 60px;  
        padding-bottom: 30px;   
    }

    @include phone {
        padding-top: 40px;     
    }

    .section-heading__wrap {
        margin-bottom: 40px;

        @include laptop {
            padding-top: 30px;     
        }
    }

    &-item {
        width: 470px;
        background-color: #fff;
        margin-bottom: 70px;
        box-shadow: 20px 20px 40px 0px rgba(#000, 0.15);

        @include xl {
            width: 350px;
            margin-bottom: 60px;    
        }

        @include desktop {
            width: 300px;
            margin-bottom: 50px;    
        }

        @include laptop {
            margin-bottom: 40px;
            margin-left: 10px;    
            margin-right: 10px;    
        }
    }

    &__img {
        &-wrap {
            position: relative;
            overflow: hidden;
        }

        height: 350px;
        background: #fff no-repeat center/cover;

        @include xl {
            height: 220px;  
        }

        @include xl {
            height: 180px;  
        }
    }

    @for $i from 1 through 3 {
        &-item:nth-child(#{$i}) &__img {
            background-image: url('../img/works/work-#{$i}.jpg');
        }
    }

    &-item:nth-child(2) &__img-wrap:after {
        position: absolute;
        display: block;
        top: -35px;
        right: -75px;
        content: 'ХИТ';
        padding: 70px 70px 10px;
        background-color: $acsent;
        font-family: $main-font-b;
        color: #fff;
        font-size: 4.1rem;
        letter-spacing: -1px;
        transform-origin: center;
        transform: rotate(45deg);

        @include xl {
            top: -40px;
            right: -80px;
            font-size: 3rem;
        }

        @include xl {
            top: -45px;
            right: -85px;
            font-size: 2.4rem;
        }
    }

    &__list {
        flex-direction: row;
        justify-content: space-between;

        @include laptop {
            justify-content: center;
        }
    }

    &-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 25px;
        padding-bottom: 35px;

        @include xl {
            padding: 10px 20px;
            padding-bottom: 30px;
        }

        @include desktop {
            padding: 10px 15px;
            padding-bottom: 25px;
        }
    }

    &__title,
    &__coast {
        font-family: $main-font-b;
        font-size: 3.65rem;
        text-transform: lowercase;
        line-height: 3.83rem;
        letter-spacing: -1px;

        @include xl {
            font-size: 3rem;
            line-height: 3.2rem;
        }

        @include desktop {
            font-size: 2.6rem;
            line-height: 2.9rem;
        }
    }

    &__coast-wrap {
        display: inline-block;
        margin: 0 auto;
    }

    &__coast {
        font-size: 3.3rem;
        text-align: center;
        line-height: 5.26rem;

        span:first-child {
            font-size: 5.4rem;
        }

        @include xl {
            font-size: 3rem;
            line-height: 4.5rem;

            span:first-child {
                font-size: 4.4rem;
            }
        }

        @include desktop {
            font-size: 2.4rem;
            line-height: 3rem;

            span:first-child {
                font-size: 3.4rem;
            }
        }
    }

    &__descr {
        font-size: 2.07rem;
        line-height: 2.66rem;
        text-align: center;
        padding-right: 20px;

        @include xl {
            font-size: 1.9rem;
            line-height: 2.3rem;
        }

        @include desktop {
            font-size: 1.7rem;
            line-height: 2rem;
            margin-top: 5px;
        }
    }

    .decor-line {
        margin-top: 20px;
        margin-bottom: 30px;

        @include xl {
            margin-top: 15px;
        margin-bottom: 25px;
        }

        @include desktop {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    &__checks-item {
        display: flex;
        align-items: flex-start;
    }

    &__checks-text { 
        font-size: 1.87rem;
        line-height: 3.7rem;
        letter-spacing: -0.5px;

        @include xl {
            font-size: 1.7rem;
            line-height: 3.3rem;
        }

        @include desktop {
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }

    &__checks-icon {
        position: relative;
        min-width: 16px;
        min-height: 18px;
        width: 16px;
        height: 18px;
        margin-right: 15px;
        margin-top: 11px;
        border: 1px solid $acsent;

        &:after {
            content: '✓';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            margin-top: -8px;
            color: #09cc04;
            font-size: 24px;
            margin-left: 1px;
        }
    }
}




