include common/_mixins
block variables

doctype html
html(lang="ru-RU")
  include common/main/_generals

  body
      include ./common/main/_header
      
      //- основной контент
      block content

      include ./common/main/_footer