extends _template
 
block variables
    - var author= ''
    - var description= ''
    - var keywords= ''
    - var title= ''
    - var url_js= 'app.js' 

block content
    include ./common/sections/_hero
    include ./common/sections/_features
    include ./common/sections/_works
    include ./common/sections/_we-can
    include ./common/sections/_contacts
    