extends _template
 
block variables
    - var author= ''
    - var description= ''
    - var keywords= ''
    - var title= ''
    - var url_js= 'index.js' 

block content
    canvas(width="500" height="500" viewbox="0 0 500 500") your brothser not suport canvas!