extends _template
 
block variables
    - var author= ''
    - var description= ''
    - var keywords= ''
    - var title= ''
    - var url_js= 'index.js' 

block content
    include ./common/sections/_hero
    