


html,body {
    width: 100%;
    overflow-x: hidden;
}

html {
    line-height: 1.4;
    font-size: 62.5%;
    box-sizing: border-box;
    color: $text-color_main;
}

body {
    height: 100%;
    position: relative;
    font-size: 1.6rem;
    font-family: $main-font;
    
    @include desktop() {
        font-size: 1.5rem;
    }
    @include laptop() {
        font-size: 1.4rem;
    }
    @include phone() {
        font-size: 1.3rem;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input,
select,
button {
    outline: none;
    border: 1px solid transparent;
}

textarea {
    resize: none;
}

audio,
video,
canvas,
iframe,
img,
svg {
    vertical-align: middle;
}

.section {
    position: relative;
    padding: 0px;
}

.container {
    @include wrapper();
    position: relative;
    width: 100%;
    margin: 0 auto;

    &-flex {
        @extend .container;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include xl() {
        max-width: 1200px;
    }

    @include desktop() {
        max-width: 992px;
    }

    @include laptop() {
        max-width: 100%;
    }
}

.row {
    @include row-flex();
}

.col {
    @include col();
}

.logo-brand {
    width: $logo-width;
    height: auto;

    &__wrap {
        max-width: $logo-width;
        max-height: $logo-height;
    }

    @include xl {
        max-width: 150px;
    } 

    @include laptop {
        max-width: 150px;
    } 

    @include laptop {
        max-width: 120px;
    } 

    @include xsm {
        max-width: 80px;
    } 
}

.btn {
    border: 1px solid $btn-bc;
    font-size: $btn-fs;
    color: $btn-c;
    background-color: transparent;
    padding: 10px 40px;
    transition: 0.3s color ease-in, 0.3s background-color ease-in, 0.3s border-color ease-in;
    text-transform: uppercase;
    cursor: pointer;
    
    &--round {
        border-radius: 20px;
    }

    &:hover {
        background-color: $acsent;
        color: #000;
        border-color: transparent;
    }
}


.justify {
    &-end {
        justify-content: flex-end;
    }

    &-start {
        justify-content: flex-start;
    }

    &-center {
        justify-content: center;
    }

    &-sb {
        justify-content: space-between;
    }

    &-sa {
        justify-content: space-around;
    }
}

.align {
    &-center {
        align-items: center;
    }

    &-start {
        align-items: start;
    }
    
    &-end {
        align-items: end;
    }
}

.color-acsent {
    color: $acsent;
}

.section__heading {
    display: inline-block;
    font-size: 6.2rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 8rem;
}