// container
$containerMaxWidth: 1200px;


// fonts
$main-font: "robotoregular", sans-serif;

// text-size
$fs-main: 1.6rem;
$fs-small: 1.4rem;

$fs-heading-main: 2.6rem;


// colors
$acsent: #1eb858;
$acsent-sec: #404040;

// main elements colors
$link-color: #000;

// bg colors
$body-bg: #fff;
$header-bg: #1f1f1f; 

// text-color
$text-color_main: #474b57;

// LOGO
$logo-width: 100px;
$logo-height: 51px;

// BTN
$btn-c: $acsent;
$btn-fs: $fs-small;
$btn-bc: #3d3f44;