section.section.contacts
    #scroll-form
    .container
        .section-heading__wrap
            h2.section-heading  Остались вопросы?
                div.color-acsent - Наши контакты
        form.form.contacts__form(method="POST")#form-contact
            .square__wrap
                .square
            .form__content
                h2.form__heading Закажите обратный звонок
                .form__subtitle С удовольствием ответим на любые Ваши вопросы!
                .form-line
                    input(type="hidden" name="form" value="Закажите обратный звонок")
                    .input-wrap
                        input(type="text" name="name" placeholder="*ваше имя" required autocomplete)
                    .input-wrap
                        input(type="tel" name="phone" placeholder="*ваш телефон" required autocomplete)
                .btn__wrap
                    input(type="submit" value="Заказать")
                    .result
        ul.list.row.contacts__list
            li.col.contacts-item
                .contacts-item__img
                    #mapOskol
                        .mapYa__preview.map-oskol(data-map="кликни для загрузки интерактивной карты" style="position:absolute;z-index:9;top:0;left:0;right:0;bottom:0;background: url('./assets/img/contacts/map-oskop.jpg') no-repeat center/cover;background-clip:content-box;cursor:pointer;overflow:hidden")
                .contacts-item__content
                    .info-line
                        +icon('marker')
                        .info-line__addres
                            span г. Старый Оскол
                            | , мкр. Жукова, 28 
                    .info-line
                        +icon('phone')
                        a(href="tel:+79194351137").phone +7(919)435-1137
                    .info-line
                        +icon('mail')
                        a(href="mailto:481137@mail.ru").mail 481137@mail.ru
                    .info-line
                        +icon('vk')
                        a(href="https://vk.com/vekonstroy").link-vk vk.com/vekonstroy
            
            li.col.contacts-item
                .contacts-item__img
                    #mapBelgorod
                        .mapYa__preview.map-belgorod(data-map="кликни для загрузки интерактивной карты" style="position:absolute;z-index:9;top:0;left:0;right:0;bottom:0;background: url('./assets/img/contacts/map-belgorod.jpg') no-repeat center/cover;background-clip:content-box;cursor:pointer;overflow:hidden")
                .contacts-item__content
                    .info-line
                        +icon('marker')
                        .info-line__addres
                            span г. Белгород
                            | , ул. Щорса 48а, 1 этаж
                    .info-line
                        +icon('phone')
                        a(href="tel:+79107372849").phone +7(910)737-2849
                    .info-line
                        +icon('mail')
                        a(href="mailto:372849@list.ru").mail 372849@list.ru
                    .info-line
                        +icon('vk')
                        a(href="https://vk.com/vekonstroy").link-vk vk.com/perimetrbelgorod
            

