- 
    var featureas = [
        {
            'title': 'экономию бюджета',
            'text': 'Мы имеем большое количество партнеров и поставщиков и помогаем сэкономить на закупках стройматериалов',
            'image' : 'advantage-1'
        },
        {
            'title': 'безопасность и соответствие нормам и гостам',
            'image' : 'advantage-2'
        },
        {
            'title': 'фиксированную цену',
            'text': 'не увеличивается после заключения договора',
            'image' : 'advantage-3'
        },
        {
            'title': 'реализацию в срок объектов любой сложности',
            'image' : 'advantage-4'
        },
        {
            'title': 'профессионализм',
            'text': 'работы выполняются только специалистами с большим опытом',
            'image' : 'advantage-5'
        },
        {
            'title': 'опыт реализации государственных и тендерных заказов',
            'image' : 'advantage-6'
        },
    ]

section.features
    .container
        .section-heading__wrap
            h2.section-heading  Работая с вами
                div.color-acsent - мы гарантируем
        ul.list.row.features-list
            each item in featureas
                li.features-item
                    .features-item__content
                        img(src= `./assets/img/icons/${item.image}.png`).features-item__img
                        .features-item__descr
                            .features-item__title= item.title
                            if item.text
                                .features-item__text= item.text
