section.section.hero
    .container.container-flex.justify-center
        .js-index-slider
            each object in slider
                .index-slider__item
                    img(src=`./assets/img/hero/${object['image']}` width="300" alt= object.alt).index-slider__img
                    .index-slider__content
                        .slider-product-info
