- 
    var
        advantages = [
            {
                'num' : 12,
                'unit' : 'лет',
                'subtitle' : 'безупречной работы',
                'delay' : 800,
                'place' : 0
            },
            {
                'num' : 98.6,
                'unit' : 'тыс. м',
                'sub' : 'true',
                'subtitle' : 'уложено напольных',
                'subtitle2' : 'покрытий',
                'delay' : 1000,
                'place' : 1
            },
            {
                'num' : 89.7,
                'unit' : 'тыс. м',
                'sub' : 'true',
                'subtitle' : 'уложено кафельной',
                'subtitle2' : 'плитки',
                'delay' : 1500,
                'place' : 1,
            },
            {
                'num' : 1.16,
                'unit' : 'тыс.',
                'subtitle' : 'довольных клиентов',
                'delay' : 2000,
                'place' : 2
            }
        ]

section.section.hero.parallax(data-parallax="scroll" data-image-src="./assets/img/hero/hero_bg.jpg")
    .overlay
    .container.container-flex
        .hero__top
            .hero__left
                h1.hero__heading
                    .square__wrap
                        .square
                    .hero__heading-acsent Все виды ремонта
                    .decor-line
                    .hero__heading-descr По самым выгодным ценам
                        br
                        span в Белгородской области!
            .hero__right
                form.form.hero__form#form-zamer
                    .square__wrap
                        .square
                    .form__content
                        h2.form__heading Вызовите замерщика
                        .form__subtitle Это бесплатно! Заключите договор в день замера и получите скидку 
                            span 5%
                        .form-line
                            input(type="hidden" name="form" value="Вызовите замерщика")
                            .input-wrap
                                input(type="text" name="name" placeholder="*ваше имя" required)
                            .input-wrap
                                input(type="tel" name="phone" placeholder="*телефон" required)
                        .btn__wrap
                            input(type="submit" value="Вызвать")
                            .result
        .hero__bottom
            ul.list.row.advantages
                each item in advantages
                    li.col.advantages__item
                        .advantages__content
                            span(data-delay= item.delay data-to= item.num data-place= item.place).advantages__num.spincrement= item.num
                            span.advantages__unit= item.unit
                                if item.sub === 'true'
                                    sup 2
                            span.decor-line
                            h4.advantages__title= item.subtitle
                                if item.subtitle2
                                    br
                                    span= item.subtitle2

