- 
    var works = [
        {
            'title' : 'косметический ремонт',
            'coast' : '2400',
            'descr' : 'Самый экономичный и оперативный вид ремонта, изменяющий визуальный облик помещения',
            'list' : {
                '1' : 'Работы по демонтажу',
                '2' : 'Шпаклевка стен и оклейка обоями',
                '3' : 'Установка  плинтусов',
                '4' : 'Укладка напольного покрытия',
                '5' : 'Установка и декорирование потолков',
                '6' : 'Окрашивание труб  для отопления',
                '7' : 'Установка пластиковых откосов окон',
                '8' : 'Укладка в санузлах и на кухонном полу плитки',
                '9' : 'Замена межкомнатных дверей'
            }
        },
        {
            'title' : 'капитальный ремонт',
            'coast' : '4300',
            'descr' : 'Оптимальный выбор для ремонта в новостройке или полной смены интерьера с перепланировкой',
            'list' : {
                '1' : 'Работы по демонтажу и вывоз мусора',
                '2' : 'Шпаклевка и оклейка стен обоями',
                '3' : 'Штукатурка проемов дверей и откосов окон',
                '4' : 'Установка плинтусов',
                '5' : 'Стяжка пола до 2-3 см',
                '6' : 'Укладка плитки и напольного покрытия',
                '7' : 'Окрашивание труб  для отопления',
                '8' : 'Установка пластиковых откосов окон',
                '9' : 'Замена межкомнатных дверей',
                '10' : 'Установка новых электроприборов и замена электропроводки',
                '11' : 'Скрытая разводка труб и коммуникаций',
                '12' : 'Замена унитаза, ванной и раковин',
                '13' : 'Перестановка полотенцесушителя'
            }
        },
        {
            'title' : 'дизайнерский ремонт',
            'coast' : '7900',
            'descr' : 'Создание уникального интерьера по дизайн­проекту, включает услугу авторского надзора',
            'list' : {
                '1' : 'Составление дизайн-проекта',
                '2' : 'Работы по демонтажу и вывоз мусора',
                '3' : 'Шпаклевка и оклейка стен обоями',
                '4' : 'Штукатурка проемов дверей и откосов окон',
                '5' : 'Установка плинтусов',
                '6' : 'Стяжка и выравнивание пола ',
                '7' : 'Укладка плитки и напольного покрытия',
                '8' : 'Шпаклевка и окраска оконных откосов',
                '9' : 'Замена  дверей и окон',
                '10' : 'Установка новых электроприборов и замена электропроводки',
                '11' : 'Скрытая разводка труб и коммуникаций',
                '12' : 'Замена унитаза, ванной и раковин',
                '13' : 'Установка систем «умный дом», обогрева,вентиляции, очистки воды и видеонаблюдения',
            }
        },
    ]

section.works
    .container
        .section-heading__wrap
            h2.section-heading  Ремонтные работы
                div.color-acsent - под ключ
        ul.list.row.works__list
            each item, idx in works
                li.works-item
                    .works__img-wrap
                        .works__img
                    .works-item-content
                        .works__coast-wrap
                            .works__title= item.title
                            .works__coast
                                | от  
                                span.color-acsent= item.coast
                                span  руб./м
                                sup
                                    | 2
                        .works__descr= item.descr
                        .decor-line
                        ul.works__checks
                            each check in item.list
                                li.works__checks-item
                                    .works__checks-icon 
                                    .works__checks-text= check