footer.footer
    .container
        .footer__content
            .copyright Copyright © «Brand» 2018
            .copyright__descr Информация на сайте sitename.com не является публичной офертой.
    
