footer.footer
    .container
        .footer__content
            a(href="#scroll-top").btn-top Наверх
            .copyright Copyright © ГК «ВЕКОН» 2018, Старый Оскол
            .copyright__descr Информация на сайте Хочуремонт31.рф не является публичной офертой.
    
